
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*header*/
header div{
    width: 100%;
    display: flex;
    justify-content: space-between;
   align-items: center;
    padding: 10px 15px;

}
header nav {
    font-size:  18px;
    
}
header img {
    width: 150px;

}

header a {
    margin: 5px;
    text-decoration: none;
    padding: 5px;
    color: #000;

}

header a:hover{
    border-bottom: 3px solid #5f5e5e;   
}